# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: ubuntu-latest

resources:
  repositories:
    - repository: self
      type: git

steps:
- checkout: self
  persistCredentials: true

#- task: JavaToolInstaller@0
#  inputs:
#    versionSpec: '17'
#    jdkArchitectureOption: 'x64'
#    jdkSourceOption: 'PreInstalled'

- task: NexusIqPipelineTask@3
  env:
    SYSTEM_ACCESSTOKEN: $(System.AccessToken)
  inputs:
    acceptIqServerSelfSignedCertificates: true
    nexusIqService: 'int-test-sonatype'
    applicationId: 'kt-azure-test-18'
    stage: 'Build'
    scanTargets: '**/kt-js-reachable/**'
    enableReachabilityJs: true
    reachabilityJsSources: '*app*.js'
    reachabilityJsProjectRoot: '$(Build.SourcesDirectory)/kt-js-reachable'
    ignoreReachabilityErrors: true

- script: sleep 60
  displayName: 'Sleep for 60 seconds'
