# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: ubuntu-latest

resources:
  repositories:
    - repository: self
      type: git

steps:
- checkout: self
  persistCredentials: true

- task: NexusIqPipelineTask@3
  env:
    SYSTEM_ACCESSTOKEN: $(System.AccessToken)
  inputs:
    acceptIqServerSelfSignedCertificates: true
    nexusIqService: 'int-test-sonatype'
    applicationId: 'kt-azure-test-19'
    stage: 'Build'
    scanTargets: '**/kt-js-reachable/**'
    enableReachabilityJs: true
    reachabilityJsSources: '*app*.js'
    reachabilityJsProjectRoot: '$(Build.SourcesDirectory)/kt-js-reachable'
